<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>(<%= links.length %>) Enlaces encontrados con anuncios de "<%= search %>":</p>
  <ul>
    <% for (var i = 0; i < links.length ; i++) { %>
        <li><a href="<%= links[i] %>"><%= links[i] %></a></li>
    <% } %>
  </ul>
  <form action="/" method="GET">
    <button type="submit">Volver atras</button>
  </form>
  <form action="/mails" method="POST">
    <input type="text" name="links" id="links" style="display: none !important" value="<%= links.join(',') %>">
    <button type="submit">Buscar Mails!</button>
  </form>

</body>

</html>