<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Se obtuvieron los siguientes mails:</p>
  <table>
    <tr>
      <th>URL</th>
      <th>MAIL</th>
    </tr>
    <% for (var i=0; i < mails.length ; i++) { %>
      <tr>
        <td>
          <a href="<%= mails[i].url %>"><%= mails[i].url %></a></td>
        <td>
          <p><%= mails[i].mail %></p>
        </td>
      </tr>
      <% } %>
  </table>
  <form action="/" method="GET">
    <button type="submit">Volver a Inicio</button>
  </form>

</body>

</html>